<section class="clients">
    <div class="container clients__container">
        <div class="clients__about">
            <h2 class="clients__title">Past clients
            </h2>
            <p class="clients__par">Trusted by your favourite companies</p>
        </div>
        <ul class="clients__list">
            <li><img src="../img/cl1.png" alt=""></li>
            <li><img src="../img/cl2.png" alt=""></li>
            <li><img src="../img/cl3.png" alt=""></li>
            <li><img src="../img/cl4.png" alt=""></li>
            <li><img src="../img/cl5.png" alt=""></li>
        </ul>
    </div>
</section>