<footer class="footer">
  <div class="container footer__container">
    <div class="footer__buisness">
      <div class="footer__buisness__company">
        <img src="../img/Header__logo.png" alt="" />
        <p>Photographers & videographers capturing the world around us.</p>
      </div>
      <div class="footer__buisness__wrapper">
        <div class="footer__buisness__areas">
          <ul class="footer__buisness__areas__list">
            <li class="footer__buisness__areas__list__item">Business areas</li>
            <li class="footer__buisness__areas__list__item">
              Product Photography
            </li>
            <li class="footer__buisness__areas__list__item">
              Architecture Photography
            </li>
            <li class="footer__buisness__areas__list__item">
              Drone Photography
            </li>
            <li class="footer__buisness__areas__list__item">
              Wildlife Photography
            </li>
          </ul>
        </div>
        <div class="footer__buisness__pages">
          <ul class="footer__pages">
            <li class="footer__pages__item">Pages</li>
            <li class="footer__pages__item">Gear cage</li>
            <li class="footer__pages__item">Featured images</li>
            <li class="footer__pages__item">Contact</li>
            <li class="footer__pages__item">Style guide</li>
            <li class="footer__pages__item">Instructions</li>
          </ul>
        </div>
      </div>

      <div class="footer__subscribe">
        <div class="footer__company">
          <h2 class="footer__company__title">
            Subscribe to our newsletter
          </h2>
          <p class="footer__company__par">
            Read about all the things we do.
          </p>
        </div>
        <div class="footer__line">
          <div class="footer__line__elem"></div>
        </div>
      </div>
      

      <div class="footer__links">
        <span class="footer__links__text">© Aperture Photography, Inc. All rights reserved. Licensing</span>
        <ul class="footer__links__social">
          <li><a href=""><img src="../img/twitter.png" alt=""></a></li>
          <li><a href=""><img src="../img/inst.png" alt=""></a></li>
          <li><a href=""><img src="../img/facebook.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
