<header class="header">
  <div class="container header__container">
    <img src="../img/Header__logo.png" alt="" class="header__logo" />
    <nav class="header__nav">
      <div class="nav-container">
        <input type="checkbox" >
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="hamburger-list">
          <li><a href="">Business areas</a></li>
          <li><a href="">Featured images</a></li>
          <li><a href="">Gear cage</a></li>
          <li><a href="">Contact</a></li>
          <li>
            <button class="hamburger-list__btn btn">Get template</button>
          </li>
        </ul>
      </div>
      <ul class="header__list">
        <li class="header__item">Business areas</li>
        <li class="header__item">Featured images</li>
        <li class="header__item">Gear cage</li>
        <li class="header__item">Contact</li>
        <li class="header__item">
          <button class="header__item-btn btn">Get template</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
