<section class="niceImg">
    <div class="niceImg__container">
        <h2 class="niceImg__title">Sunset at Mount Fuji</h2>
        <p class="niceImg__par">Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.</p>
        <ul class="meeting__list">
            <li class="meeting__item">
                <img src="../img/Combined-Shape.png" alt=""><span>1/2000s</span>
            </li>
            <li class="meeting__item">
                <img src="../img/Combined-Shape2.png" alt=""><span>f/11</span>
            </li>
            <li class="meeting__item">
                <img src="../img/Combined-Shape3.png" alt=""><span>100</span>
            </li>
            <li class="meeting__item">
                <img src="../img/Fill-1.png" alt=""><span>Iceland</span>
            </li>
        </ul>
    </div>
</section>