<main class="opportunities">
    <div class="container opportunities__container">
        <h2 class="opportunities__title">
            <span class="opportunities__title__main">What we do.</span>
            <span class="opportunities__title__par">The areas that we're specialized in.</span>
        </h2>
        <div class="article-grid">
            <article class="opportunities__article opportunities__article--bg1 ">
                
                <h1 class="opportunities__article__title">Product Photography</h1>
                <p class="opportunities__article__par">Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</p>
                <button class="btn opportunities__article__btn">
                    <img src="../img/ava.png" alt="">
                    <span>Read more</span>
                </button>
                
            </article>
            <article class="opportunities__article opportunities__article--bg2 ">
                <h1 class="opportunities__article__title">Architecture Photography</h1>
                <p class="opportunities__article__par">Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</p>
                <button class="btn opportunities__article__btn">
                    <img src="../img/ava.png" alt="">
                    <span>Read more</span>
                </button>
            </article>
            <article class="opportunities__article opportunities__article--bg3 ">
                <h1 class="opportunities__article__title">Drone Photography</h1>
                <p class="opportunities__article__par">Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</p>
                <button class="btn opportunities__article__btn">
                    <img src="../img/ava.png" alt="">
                    <span>Read more</span>
                </button>
            </article>
            <article class="opportunities__article opportunities__article--bg4">
                <h1 class="opportunities__article__title">Wildlife Photography</h1>
                <p class="opportunities__article__par">Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.</p>
                <button class="btn opportunities__article__btn">
                    <img src="../img/ava.png" alt="">
                    <span>Read more</span>
                </button>
            </article>
        </div>
    </div>
</main>